<footer class="cols4:flex justify-between">
  <p class="m-0 pl-0.5 h-1 cols6:ml-1 max-w-3">
    If you have any questions, reach out to me on <a href="https://twitter.com/ixkaito" target="_blank" rel="noopener">Twitter (@ixkaito).</a><br>
    © 2020 Kite @ <a href="https://kiteretz.com/" target="_blank" rel="noopener">KITERETZ inc.</a> under the Apache License 2.0.
  </p>
  <figure class="text-right">
    <a href="https://kiteretz.com" target="_blank" rel="noopener">
      <img class="w-1" src="{{ '/assets/images/kiteretz-logo.svg' | relative_url }}" alt="KITERETZ Logo">
    </a>
  </figure>
</footer>
