@font-face {
	font-family: 'KTRZ';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/KTRZ.woff') format('woff'),
		url('../fonts/KTRZ.ttf') format('truetype'),
		url('../fonts/KTRZ.svg') format('svg');
}
