@use 'variables' as *;


@mixin font-smoothing($value: null) {
	@if $value {
		-webkit-font-smoothing: $value;
		-moz-osx-font-smoothing: $value;
	} @else {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

@function columns($num: 1) {
	@return calc(100vw / var(--columns) * #{$num});
}

@function fz($vw: 1) {
	@return calc(6 / var(--columns) * #{$vw});
}
