@use '../global' as *;

.hero {
	display: grid;
	height: columns(4);
	overflow: hidden;
	position: relative;

	&::before {
		bottom: 0;
		content: attr(data-lorem);
		display: block;
		font-family: $ktrz;
		font-size: columns(1);
		left: 0;
		line-height: 1;
		overflow: hidden;
		position: absolute;
		right: -0.5em;
		top: 0;
		word-break: break-all;
	}

	h1 {
		align-self: center;
		color: #fff;
		font-size: fz(8vw);
		font-weight: 700;
		height: unset;
		left: 100vw;
		line-height: 0.7;
		margin: 0;
		margin-left: calc(-100vw / var(--columns) * 2 - 0.045em);
		mix-blend-mode: difference;
		padding-top: 0.03em;
		position: relative;
		text-transform: uppercase;
		width: 4em;
		z-index: 9;
	}
}

.glyphs {
	padding-bottom: columns(0.25);
	row-gap: columns(0.25);

	span {
		font-weight: 500;
		text-indent: 0.5em;
	}

	.font-ktrz,
	.font-ktrz-alt {
		font-size: columns(0.25);
		font-weight: normal;
		text-indent: 0;
	}
}

.typography {
	font-size: columns(0.5);
	margin-right: -0.5em;
	position: relative;
	text-indent: columns(1);
	word-break: break-all;

	@include cols(4) {
		font-size: columns(1);
		text-indent: columns(2);
	}

	&::before {
		content: 'Typo\Agra\Aphy';
		font-family: $prompt;
		font-size: columns(0.26);
		font-weight: 800;
		left: 0;
		line-height: 0.65;
		position: absolute;
		text-indent: 0;
		white-space: pre;

		@include cols(4) {
			font-size: columns(0.52);
		}
	}
}

.tokyo2020 {
	span {
		font-size: columns(0.5);
		position: relative;

		&:first-child::before {
			content: 'Tokyo';
		}

		&:nth-child(2)::before {
			content: '2020';
		}

		&::before {
			bottom: columns(0.1);
			color: #fff;
			font-family: $prompt;
			font-size: columns(0.1);
			font-weight: 700;
			position: absolute;
			right: 0;
			text-align: center;
			transform: rotate(-45deg);
			width: columns(0.33);
		}
	}
}
