@use '../global' as *;

.hero {
	display: grid;
	height: columns(4);
	overflow: hidden;
	position: relative;

	&::before {
		bottom: 0;
		content: attr(data-lorem);
		display: block;
		font-family: $ktrz;
		font-size: columns(1);
		left: 0;
		line-height: 1;
		overflow: hidden;
		position: absolute;
		right: -0.5em;
		top: 0;
		word-break: break-all;
	}

	h1 {
		align-self: center;
		color: #fff;
		font-size: fz(8vw);
		font-weight: 700;
		height: unset;
		left: 100vw;
		line-height: 0.7;
		margin: 0;
		margin-left: calc(-100vw / var(--columns) * 2 - 0.045em);
		mix-blend-mode: difference;
		padding-top: 0.03em;
		position: relative;
		text-transform: uppercase;
		width: 4em;
		z-index: 9;
	}
}

.glyphs {
	line-height: 1;
	padding-bottom: columns(0.25);
	row-gap: columns(0.25);

	// :first-child {
	// 	@media (min-width: #{160px * 3}) {
	// 		grid-column-start: 9;
	// 	}

	// 	@media (min-width: #{160px * 4}) {
	// 		grid-column-start: 1;
	// 	}
	// }

	span {
		font-weight: 500;
		text-indent: 0.5em;
	}

	.font-ktrz,
	.font-ktrz-alt {
		font-size: columns(0.25);
		font-weight: normal;
		text-indent: 0;
	}
}
